html {
  font-family: 'Open Sans', sans-serif;
  background-color: white;
}

img {
  box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.2);
}


/* Header & Navigation */

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 64px;
  width: 100%;
}

/* Logo */

.desktop {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0 24px;
}

.logo {
  display: flex;
  align-items: center;
}

.name {
  font-size: 1.2rem;
}

.logo a {
  display: flex;
  align-items: center;
  text-transform: uppercase;
  padding-bottom:
}

.colmar {
  font-weight: 700;
  color: rgb(88, 45, 153);
}

.academy {
  padding-left: .25px;
}

.lion img {
  width: 2rem;
  height: auto;
}

/* Navigation */

.desktop nav {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.desktop nav ul {
  display: flex;
  list-style: none;
}

.desktop nav ul li {
  padding-left: 1rem;
}

li a:link {
  color: rgb(88, 45, 153);
  text-decoration: underline;
  font-weight: 300;
}

/* Banner */

.banner {
  display: flex;
  width: 100%;
  background-color: rgb(214, 214, 214);
  align-items: center;
}

.banner img {
  width: 60%;
  height: auto;
  margin: 32px 24px;
}

.banner-copy {
  margin: 0 1rem;
}

.banner-copy h1 {
  font-family: 'PT Sans';
  font-weight: 800;
  color: rgb(88, 45, 153);
  font-size: 3rem;
  margin-bottom: 24px;
}
.banner-copy h3 {
  font-size: 1.5rem;
}

.banner-copy .btn {
  background-color: rgb(88, 45, 153);
  color: white;
  font-size: 1.1rem;
  width: 100%;
  text-align: center;
  padding: 8px 0;
  margin-top: 35px;
  border-radius: 0%;
}

.banner-copy .btn:hover {
  background-color: rgb(192, 159, 242);
  color: #fff;
  text-decoration: underline;
  font-weight: bold;
}

/* Informations */

.info {
  display: flex;
  width: 100%;
  background-color: #fff;
  border-bottom: 1px solid #d6d6d6;
}

.main {
  margin: 32px 24px;
  width: 62%;
  padding-bottom: 2rem;
}

.main img {
  width: 100%;
  height: auto;
  margin-bottom: 24px;
  margin-right: 24px;
}

.main h2 {
  font-family: 'PT Sans';
  font-size: 2.25rem;
  font-weight: bold;
  padding: 0 0 24px 0;
  color: rgb(88, 45, 153);
}

.main p {
  font-size: 1rem;
  font-weight: 400;
  font-style: italic;
  line-height: 1.4rem;
  padding-right: 24px;
  margin-bottom: 16px;
}

.main h6 {
  font-size: .8rem;
  text-decoration: underline;
  text-transform: uppercase;
}

.main h6:hover {
  font-weight: bold;
  color: rgb(88, 45, 153);
}

/* Articles */

.article-container {
  border-left: 1px solid #d6d6d6;
  display: flex;
  flex-direction: column;
  width: 38%;
  height: auto;
  padding-top: 1rem;
  padding-bottom: 2rem;
}

.articles .article {
  width: 100%;
  display: flex;
  padding: 1rem 0;
  justify-content: flex-start;
  border-bottom: 1px solid #d6d6d6;
}

.article img {
  width: 35%;
  height: 100%;
  margin: 0 16px;
}

.description {
  align-content: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.description h4 {
  margin-bottom: 1rem;
  font-family: 'PT Sans';
  font-size: 1.25rem;
  font-weight: bold;
  color: rgb(88, 45, 153);
  text-transform: uppercase;
}

#article3 {
  background-color: rgba(192, 159, 242, .5);
}

.description p {
  margin-bottom: 1rem;
  font-size: 1rem;
  line-height: 1.5rem;
}

.description h6 {
  font-size: .8rem;
  text-decoration: underline;
  text-transform: uppercase;
}

.description h6:hover {
  font-weight: bold;
  color: rgb(88, 45, 153);
}
